.breadcrumbs {
    position: relative;
    padding: 20px 0;
    //border-top: 1px solid @gray-light;
    background-color: #fff;
    z-index: 11;

    &__container {
        .wrapper();

    }

    ul {
        display: flex;

        .sm-block({
           flex-direction: column;
           align-items: flex-start;
        });
    }

    li {
        position: relative;
        margin-right: 26px;

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 100%;
            margin-top: -3px;
            margin-left: 10px;
            width: 6px;
            height: 6px;
            background-color: @color-accent;
            border-radius: 1px;
        }

        &:last-child {
            &::after {
                display: none;
            }
        }
    }

    a {
        opacity: .8;
    }

}