.pagination {
    display: flex;
    justify-content: flex-end;

    &__item {
        margin-left: 20px;
        padding: 5px;
        opacity: .8;
        
        &--active {
            border-bottom: 3px solid @color-accent;
            opacity: 1;
        }
    }
}