.specifications {
    position: relative;
    z-index: 11;
    background-color: #fff;
    border: 1px solid #dadada;
    
    &__row {
        .row-flex();
    }
    
    &__menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-left: 25px;
        padding-right: 25px;
        background-color: @gray-light;

        .md-block({
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
        });
    }
    
    &__content {
        position: relative;
    }

    &__menu-item {
        display: block;
        padding-top: 25px;
        padding-bottom: 25px;
        margin: 0 25px;
        border-bottom: 3px solid transparent;
        text-transform: uppercase;
        transition: all .4s;

        .md-block({
            margin: 0;
        });

        &--active {
            border-color: @color-accent;
            color: @color-accent;
            transition: all .4s;
        }
    }

    &__body {
        display: none;
        position: relative;
        padding: 50px;

        .md-block({
            padding: 10px;
        });

        &--active {
            display: block;
        }
    }

    &__tech {
        li {
            display: flex;
            justify-content: space-between;
            margin-top: 10px;

            .md-block({
               flex-direction: column;
                border-bottom: 1px solid #000;
            });
        }

        span {
            position: relative;
            overflow: hidden;
            white-space: nowrap;

            .md-block({
                white-space: normal;
                overflow: auto;
            });

            &:first-child {
                flex-grow: 1;

                &::after {
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    margin-left: 5px;
                    width: 100%;
                    height: 100%;
                    border-bottom: 2px dotted @gray;

                    .md-block({
                        content: ':';
                        position: static;
                        bottom: 0;
                        margin-left: 0;
                        width: auto;
                        height: auto;
                        border: none;
                    });
                }
            }
        }
    }

    &__list {

        li {
            position: relative;
            padding-left: 30px;
            margin-top: 5px;

            &:before {
                content: '—';
                position: absolute;
                left: 0;
            }
        }
    }

}