html {
  box-sizing: border-box;
  overflow-x: hidden;

  font-size: @fs-base;

  .md-block({
    font-size: @fs-base - 1;
  });

  .sm-block({
    font-size: @fs-base - 2;
  });
}

*, *::after, *::before {
  box-sizing: inherit;
}


body {
  min-width: 360px;
  font-family: @ff;
  font-size: @fs;
  line-height: @lh;
  background-color: @color-light;
}

a {
  //color: @link-color;
  //text-decoration: none;

  &:hover,
  &:focus {
    //color: @link-color--hover;
    //text-decoration: @link-hover-decoration;
  }
}

b {
  font-weight: 700;
}


figure {
  margin: 0;
}


[role="button"] {
  cursor: pointer;
}


img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


