// Цвета
@color-main:                #26b3e8;
@color-second:              #185293;
@color-third:               #ec6357;

@color-dark:                #2b4392;
@color-gray:                #cdcdcd;
@color-light:               #fafafb;


// Шрифты
@ff:                        "TT Norms", Arial, sans-serif;
@ff-second:                 "Kabrio Abarth", Arial, sans-serif;;
@fs-base:                   10px;
@fs:                        1.6rem;
@lh:                        1.3;