.main-footer {
    padding: 3rem 0;
    &__container {
        .wrapper();
    }

    &__row {
        .row-flex();
        align-items: center;
        justify-content: space-between;
    }

    &__copyright {
        .col();
        .size(6);
        .size-sm(12);
        color: @color-main;
        font-weight: bold;
    }

    &__design {
        .col();
        .size(6);
        .size-sm(12);
        width: 120px;
    }

}