// Базовые цвета https://colorscheme.ru/color-converter.html

@black:                       hsl(0, 0%, 0%);
@gray-darkest:                hsl(0, 0%, 10%);
@gray-darker:                 hsl(0, 0%, 20%);
@gray-darken:                 hsl(0, 0%, 30%);
@gray-dark:                   #464646;
@gray:                        #c3c3c3;
@gray-light:                  hsl(0, 0%, 60%);
@gray-lighten:                hsl(0, 0%, 70%);
@gray-lighter:                hsl(0, 0%, 80%);
@gray-lightest:               hsl(0, 0%, 90%);
@white:                       hsl(0, 0%, 100%);

@color-main:                  #423081;
@color-secondary:             #d980f4;
@color-success:               #31c84b;
@color-danger:                #da2222;
@color-warning:               #fda100;

@color-vk:                    #4a76a8;
@color-fb:                    #4267b2;
@color-tw:                    #40a2f5;
@color-gh:                    #24292e;



// Семантические цвета

@text-color:                  #464646;
@body-bg:                     @white;

@link-color:                  @color-main;
@link-color--hover:           darken(@color-main, 15%);



// Базовая типографика

@font-size:                   17px;

@font-size-h1:                40px;
@font-size-h2:                32px;
@font-size-h3:                24px;
@font-size-h4:                18px;
@font-size-h5:                16px;
@font-size-h6:                16px;

@font-size-sm:                0.75em; // 12px от 16px

@line-height:                 1.5;

@font-family:                 roboto_condensed, Arial, sans-serif;
@font-family-secondary:       montserrat, Arial, sans-serif;