.producer {
    .row-flex();

    &__title {
        .col();
        .size(12);
        margin-top: 20px;
        color: @color-main;
    }

    &__img {
        .col();
        .size(5);
        .size-lg(12);
        margin-top: 20px;
    }

    &__text {
        .col();
        .size(7);
        .size-lg(12);
        margin-top: 20px;

        p {
            margin: 0;
        }
    }

}