.sidebar-menu {
    padding: 40px;
    border: 1px solid #F0EDE5;

    .md(padding-top, 10px);

    h3 {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 40px;
        color: #000000;
    }

    &__inner {
        padding-left: 0;
    }

    &__item {
        a {
            font-size: 18px;
            line-height: 32px;
            color: #7E8689;
        }

        &--active {
            a {
                color: #3B3B47;
            }
        }
    }
}