.vacancies {
    padding-top: 100px;
    .md(padding-top, 10px);

    &__title-block {
        h2 {
            margin: -20px 0 0;
            font-size: 36px;
            line-height: 56px;
            color: #7E8689;
        }

        span {
            margin: 0;
            font-size: 14px;
            line-height: 20px;
            color: #C79C68;
        }
    }

    &__content {
        padding-top: 50px;
    }
}