.list-block {
    padding: 80px;

    .md-block({
        padding: 40px;
    });

    &__container {
        .wrapper();
    }

    &__row {
        .row-flex();
    }

    &__desc {
        .col();
        .size(8.5);
        .size-md(12);

        h2 {
            margin: 0 0 20px;
            text-transform: uppercase;
            font-weight: 800;
            color: @color-main;
            .t-big();
        }

        p {
            .t-small();
        }
    }

    &__list {
        .col();
        .size(3.5);
        .size-md(12);
        .t-small();
    }

    li {
        position: relative;
        padding-left: 35px;
        margin-bottom: 20px;

        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: 0;
            border-top: 10px solid transparent;
            border-left: 15px solid @color-main;
            border-bottom: 10px solid transparent;
        }
    }
}