.review {
    position: relative;
    padding: 60px 0;
    color: #fff;
    text-align: center;
    z-index: 1;

    .md-block({
        padding: 30px 0;
    });

    &__content {
        .t-big();
        font-weight: bold;

        p {
            font-size: .8em;
        }
    }

    &__author {
        margin-top: 60px;
    }
}