.stand {

    &__container {
        .wrapper();
    }

    &__content {
        position: relative;
        width: 920px;
        height: 1106px;
        margin: 0 auto;
        background-image: url('../../bmc/img/banners/stand.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .md-block({
            width: 460px;
            height: 553px;
        });

        .sm-block({
            width: 300px;
            height: 300px;
        });
    }

    &__inner {
        position: absolute;
        top: 117px;
        left: 34px;
        right: 17px;
        bottom: 541px;
        background-color: black;
        overflow: hidden;

        .md-block({
            top: 57px;
            left: 17px;
            right: 9px;
            bottom: 271px;
        });

        .sm-block({
            top: 31px;
            left: 35px;
            right: 30px;
            bottom: 147px;
        });

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &--second {
        .stand__content {
            width: 1075px;
            height: 1057px;
            background-image: url('../../bmc/img/banners/stand3.png');

            .lg-block({
                width: 537px;
                height: 528px;
            });

            .md-block({
                width: 358px;
                height: 352px;
            });

            .sm-block({
                width: 305px;
                height: 300px;
            });
        }

        .stand__inner {
            top: 41px;
            left: 42px;
            right: 44px;
            bottom: 424px;

            .lg-block({
                top: 21px;
                left: 21px;
                right: 22px;
                bottom: 211px;
            });

            .md-block({
                top: 14px;
                left: 14px;
                right: 14px;
                bottom: 140px;
            });

            .sm-block({
                top: 12px;
                left: 12px;
                right: 12px;
                bottom: 120px;
            });
        }
    }

    &--3 {
        .stand__content {
            width: 1028px;
            height: 666px;
            background-image: url('../../bmc/img/banners/MacBookPro.png');

            .lg-block({
                width: 514px;
                height: 333px;
            });

            .sm-block({
                width: 310px;
                height: 200px;
            });
        }

        .stand__inner {
            top: 38px;
            left: 86px;
            right: 85px;
            bottom: 93px;

            .lg-block({
                top: 19px;
                left: 43px;
                right: 42px;
                bottom: 46px;
            });

            .sm-block({
                top: 12px;
                left: 27px;
                right: 26px;
                bottom: 28px;
            });

        }
    }

    &--4 {
        .stand__content {
            width: 1033px;
            height: 1044px;
            background-image: url('../../bmc/img/banners/banner11.png');

            .lg-block({
                width: 568px;
                height: 574px;
            });

            .sm-block({
                width: 312px;
                height: 315px;
            });
        }

        .stand__inner {
            top: 318px;
            left: 61px;
            right: 60px;
            bottom: 216px;

            .lg-block({
                top: 175px;
                left: 33px;
                right: 33px;
                bottom: 118px;
            });

            .sm-block({
                top: 95px;
                left: 18px;
                right: 18px;
                bottom: 65px;
            });
        }
    }
}