.text {
    position: relative;
    padding: 80px;
    text-align: center;
    color: #fff;
    line-height: 1.3;
    z-index: 1;

    .md-block({
        padding: 40px;
    });

    .sm-block({
        padding: 20px;
    });
}